version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    # Optionally ignore major version updates for some packages
    # ignore:
    #   - dependency-name: "some-package"
    #     update-types: ["version-update:semver-major"]
