:root {
	--md-light-text: #1f2328;
	--md-light-bg: #ffffff;
	--md-light-border: #d1d9e0b3;
	--md-light-link: #0969da;
	--md-light-blockquote-bg: #f6f8fa;
	--md-light-code-bg: #f6f8fa;
	--md-light-alert-note-bg: #fff8c5;
	--md-light-alert-note-border: #0969da;
	--md-light-alert-important-bg: #ffd8b5;
	--md-light-alert-important-border: #d87600;
	--md-light-alert-warning-bg: #ffd8b5;
	--md-light-alert-warning-border: #d87600;
	--md-light-alert-tip-bg: #e6ffed;
	--md-light-alert-tip-border: #2ea44f;
	--md-light-alert-caution-bg: #ffebe9;
	--md-light-alert-caution-border: #cf222e;
}

@media (prefers-color-scheme: light) {
	.markdown-body {
		color-scheme: light;
		color: var(--md-light-text);
		background-color: var(--md-light-bg);
	}

	.markdown-body h1:hover .anchor .octicon-link:before,
	.markdown-body h2:hover .anchor .octicon-link:before,
	.markdown-body h3:hover .anchor .octicon-link:before,
	.markdown-body h4:hover .anchor .octicon-link:before,
	.markdown-body h5:hover .anchor .octicon-link:before,
	.markdown-body h6:hover .anchor .octicon-link:before {
		background-color: currentColor;
		-webkit-mask-image: var(--md-link-svg);
		mask-image: var(--md-link-svg);
	}

	.markdown-body a {
		color: var(--md-light-link);
	}

	.markdown-body h1 {
		border-bottom: 1px solid var(--md-light-border);
	}

	.markdown-body mark {
		background-color: #fff8c5;
		color: var(--md-light-text);
	}

	.markdown-body hr {
		background-color: #d1d9e0;
	}

	.markdown-body ::-webkit-input-placeholder {
		color: inherit;
	}

	.markdown-body ::placeholder {
		color: #818b98;
	}

	.markdown-body a:focus,
	.markdown-body [role='button']:focus,
	.markdown-body input[type='radio']:focus,
	.markdown-body input[type='checkbox']:focus {
		outline: 2px solid var(--md-light-link);
		outline-offset: 2px;
	}

	.markdown-body a:focus:not(:focus-visible),
	.markdown-body [role='button']:focus:not(:focus-visible),
	.markdown-body input[type='radio']:focus:not(:focus-visible),
	.markdown-body input[type='checkbox']:focus:not(:focus-visible) {
		outline: solid 1px transparent;
	}

	.markdown-body a:focus-visible,
	.markdown-body [role='button']:focus-visible,
	.markdown-body input[type='radio']:focus-visible,
	.markdown-body input[type='checkbox']:focus-visible {
		outline: 2px solid #0969da;
	}

	.markdown-body kbd {
		color: var(--md-light-text);
		background-color: #f6f8fa;
		border-bottom-color: #d1d9e0b3;
		box-shadow: inset 0 -1px 0 #d1d9e0b3;
	}

	.markdown-body h2 {
		border-bottom: 1px solid var(--md-light-border);
	}

	.markdown-body h6 {
		color: #818b98;
	}

	.markdown-body blockquote {
		color: var(--md-light-text);
		background: var(--md-light-blockquote-bg);
		border-left: 0.25em solid var(--md-light-border);
	}

	.markdown-body .octicon {
		fill: currentColor;
	}

	.markdown-body a:not([href]) {
		color: inherit;
	}

	.markdown-body .absent {
		color: #cf222e;
	}

	.markdown-body h1 .octicon-link,
	.markdown-body h2 .octicon-link,
	.markdown-body h3 .octicon-link,
	.markdown-body h4 .octicon-link,
	.markdown-body h5 .octicon-link,
	.markdown-body h6 .octicon-link {
		color: var(--md-light-text);
	}

	.markdown-body table th,
	.markdown-body table td {
		border: 1px solid var(--md-light-border);
	}

	.markdown-body table tr {
		background-color: var(--md-light-bg);
		border-top: 1px solid var(--md-light-border);
	}

	.markdown-body table tr:nth-child(2n) {
		background-color: #f6f8fa;
	}

	.markdown-body table img {
		background-color: transparent;
	}

	.markdown-body .emoji {
		background-color: transparent;
	}

	.markdown-body span.frame > span {
		border: 1px solid var(--md-light-border);
	}

	.markdown-body span.frame span span {
		color: var(--md-light-text);
	}

	.markdown-body code,
	.markdown-body tt {
		background-color: rgba(129, 139, 152, 0.12);
	}

	.markdown-body pre > code {
		background: transparent;
	}

	.markdown-body .highlight pre,
	.markdown-body pre {
		color: var(--md-light-text);
		background-color: var(--md-light-code-bg);
	}

	.markdown-body pre code,
	.markdown-body pre tt {
		background-color: transparent;
	}

	.markdown-body .csv-data .blob-num {
		background: var(--md-light-bg);
	}

	.markdown-body .csv-data th {
		background: #f6f8fa;
	}

	.markdown-body .footnotes {
		color: #818b98;
		border-top: 1px solid var(--md-light-border);
	}

	.markdown-body .footnotes li:target::before {
		border: 2px solid #0969da;
	}

	.markdown-body .footnotes li:target {
		color: var(--md-light-text);
	}

	.markdown-body .pl-c {
		color: #818b98;
	}

	.markdown-body .pl-c1,
	.markdown-body .pl-s .pl-v {
		color: #0969da;
	}

	.markdown-body .pl-e,
	.markdown-body .pl-en {
		color: #8250df;
	}

	.markdown-body .pl-smi,
	.markdown-body .pl-s .pl-s1 {
		color: var(--md-light-text);
	}

	.markdown-body .pl-ent {
		color: #2ea44f;
	}

	.markdown-body .pl-k {
		color: #cf222e;
	}

	.markdown-body .pl-s,
	.markdown-body .pl-pds,
	.markdown-body .pl-s .pl-pse .pl-s1,
	.markdown-body .pl-sr,
	.markdown-body .pl-sr .pl-cce,
	.markdown-body .pl-sr .pl-sre,
	.markdown-body .pl-sr .pl-sra {
		color: #0a3069;
	}

	.markdown-body .pl-v,
	.markdown-body .pl-smw {
		color: #d87600;
	}

	.markdown-body .pl-bu {
		color: #cf222e;
	}

	.markdown-body .pl-ii {
		color: var(--md-light-text);
		background-color: #ffdcd7;
	}

	.markdown-body .pl-c2 {
		color: var(--md-light-text);
		background-color: #ffdcd7;
	}

	.markdown-body .pl-sr .pl-cce {
		color: #2ea44f;
	}

	.markdown-body .pl-ml {
		color: #d87600;
	}

	.markdown-body .pl-mh,
	.markdown-body .pl-mh .pl-en,
	.markdown-body .pl-ms {
		color: #0969da;
	}

	.markdown-body .pl-mi {
		color: var(--md-light-text);
	}

	.markdown-body .pl-mb {
		color: var(--md-light-text);
	}

	.markdown-body .pl-md {
		color: #cf222e;
		background-color: #ffdcd7;
	}

	.markdown-body .pl-mi1 {
		color: #2ea44f;
		background-color: #e6ffed;
	}

	.markdown-body .pl-mc {
		color: #d87600;
		background-color: #ffd8b5;
	}

	.markdown-body .pl-mi2 {
		color: var(--md-light-text);
		background-color: #0969da;
	}

	.markdown-body .pl-mdr {
		color: #8250df;
	}

	.markdown-body .pl-ba {
		color: #818b98;
	}

	.markdown-body .pl-sg {
		color: #d1d9e0;
	}

	.markdown-body .pl-corl {
		color: #0a3069;
	}

	.markdown-body .markdown-alert {
		color: inherit;
		border-left: 0.25em solid var(--md-light-border);
	}

	.markdown-body .markdown-alert.markdown-alert-note {
		background: var(--md-light-alert-note-bg);
		border-left: 4px solid var(--md-light-alert-note-border);
	}

	.markdown-body .markdown-alert.markdown-alert-important {
		background: var(--md-light-alert-important-bg);
		border-left: 4px solid var(--md-light-alert-important-border);
	}

	.markdown-body .markdown-alert.markdown-alert-warning {
		background: var(--md-light-alert-warning-bg);
		border-left: 4px solid var(--md-light-alert-warning-border);
	}

	.markdown-body .markdown-alert.markdown-alert-tip {
		background: var(--md-light-alert-tip-bg);
		border-left: 4px solid var(--md-light-alert-tip-border);
	}

	.markdown-body .markdown-alert.markdown-alert-caution {
		background: var(--md-light-alert-caution-bg);
		border-left: 4px solid var(--md-light-alert-caution-border);
	}
}
